%nav.navbar.navbar-default.right{role: 'navigation'}
  %div.container-fluid
    %div.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Login", login_path

